/**
 * Styles for HTML components.
 */

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #18061F;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    clear: both;
    height: 100px;
    bottom: 0;
    width: 100%;
}

text {
    color: #FDF6FC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: SamsungBold;
    color: #FDF6FC;
}

h1 {
    font-family: Samsung700;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h1:not(:first-of-type) {
    margin-top: 2em;
}

h2 {
    font-family: Samsung700;
    font-size: 1.25em;
}

h3, h4, h5, h6 {
    font-family: Samsung700;
    font-size: 1em;
}

p {
    font-family: Samsung400;
    color: #FDF6FC;
    font-size: 1em;
}

a {
    font-family: Samsung400;
    color: #6D3284;
}

a:hover {
    color: #FDF6FC;
}

address {
    font-family: Samsung400;
    color: #FDF6FC;
}


/* Fonts */

@font-face {
    font-family: Samsung400;
    src: url("../fonts/SamsungOne-400_v1.1.ttf") format("truetype");
}

@font-face {
    font-family: Samsung700;
    src: url("../fonts/SamsungOne-700_v1.1.ttf") format("truetype");
}

@font-face {
    font-family: SamsungBold;
    src: url("../fonts/SamsungSharpSans-Bold.ttf") format("truetype");
}

.bold {
    font-weight: bold;
}

/* Colors */

.vunder-text-color {
    color: #FDF6FC;
}

.vunder-index-color {
    color: #8E1C9A;
}

.vunder-index-color-hover:hover {
    color: #8E1C9A;
}

.vunder-project-color {
    color: #E4158E;
}

.vunder-project-color-hover:hover {
    color: #E4158E;
}

.vunder-person-color {
    color: #FF0000;
}

.vunder-person-color-hover:hover {
    color: #FF0000;
}

.vunder-pub-color {
    color: #FD6631;
}

.vunder-pub-color-hover:hover {
    color: #FD6631;
}

.vunder-contact-color {
    color: #FFA600;
}

.vunder-contact-color-hover:hover {
    color: #FFA600;
}


/* Common */

.vunder-hexagon{
    -webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
    clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
    display: block;
    margin: 0 auto;
}

.vunder-topic {
    background-color: #FDF6FC;
    font-size: 1em;
    color: #18061F;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -4em;
    border-radius: 16px;
}


/* Logo */

.vunder-logo {
    font-size: 35px;
    margin: 10px;
    padding: 0;
}

.vunder-logo-caption {
    font-family: Samsung400;
    font-size: 1em;
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    .vunder-logo {
        font-size: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Navigation */

nav.vunder-navbar {
    background-color: #18061F;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 30px;
}

.vunder-navbar-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

nav.vunder-navbar > .vunder-navbar-top,
nav.vunder-navbar > .navbar-collapse {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

nav.vunder-navbar button.navbar-toggler {
    margin: 10px 0 10px 15px;
}

nav.vunder-navbar ul.navbar-nav {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

nav.vunder-navbar li {
    font-weight: bold;
    padding-left: 15px;
}

@media (min-width: 768px) {
    nav.vunder-navbar {
        box-shadow: none;
    }
    nav.vunder-navbar > .navbar-collapse {
    }
    nav.vunder-navbar ul.navbar-nav {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: auto;
    }
    nav.vunder-navbar li {
        padding-left: 30px;
        padding-right: 30px;
    }
    nav.vunder-navbar li.active {
        background-color: transparent;
        position: relative;
    }
    nav.vunder-navbar li.active > a::after {
        border-radius: 2px;
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.vunder-nav-link {
    font-family: Samsung700;
    font-size: 1.25em;
}


/* Main */

.vunder-main {
    /*box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.5);*/
    border-radius: 2em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 100px;*/
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .vunder-main {
        max-width: 720px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 992px) {
    .vunder-main {
        max-width: 960px;
    }
}


/* Footer */

.vunder-footer {
    font-family: SamsungBold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FDF6FC;
}

.vunder-footer-samsung,
.vunder-footer-samsung-research,
.vunder-footer-vunder {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    color: #FDF6FC;
}

.vunder-footer-samsung {
    height: 1em;
    padding-bottom: 0.1em;
}

.vunder-footer-samsung-research {
    font-family: SamsungBold;
    font-size: 1em;
}

.vunder-footer-vunder {
    font-family: Samsung700;
    font-size: 1em;
}


/* Cover */

.vunder-cover-container,
.vunder-cover-image {
    width: 100%;
    height: 600px;
}

.vunder-cover-container {
    position: relative;
    text-align: center;
}

.vunder-cover-image {
    float: center;
}

.vunder-cover-link {
    font-family: Samsung400;
    font-size: 1.25em;
    color: #FDF6FC;
}

.vunder-cover-link-div {
    position: absolute;
    top: 10%;
    left: 10em;
    transform: translate(-90%, -90%);
}

.vunder-cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Styles for home */

.vunder-home-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 500px;
    /* Workaround for an IE bug:
    * https://stackoverflow.com/questions/8673356/ie-doesnt-support-height-auto-for-images-what-should-i-use
    */
    min-height: 1px;
    width: 100%;
}

@media (min-width: 992px) {
    .vunder-home-cover {
        float: right;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#vunder-office {
    float: center;
}


/* Styles for people */

.vunder-person-info,
.vunder-person-name,
.vunder-person-job-title,
.vunder-person-affil,
.vunder-person-misc {
    display: block;
}

.vunder-person-name {
    color: #FDF6FC;
    font-family: Samsung700;
    font-size: 18px;
}

.vunder-job-title {
    font-family: Samsung400;
    font-size: 16px;
}

.vunder-person-affil,
.vunder-person-misc {
    font-family: Samsung400;
    font-size: 11px;
}

.vunder-member {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.vunder-member > a {
    text-decoration: none;
    display: block;
}

.vunder-member > img,
.vunder-member > a > img {
    border-radius: 5px;
    display: block;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 130px;
}


/*Styles for publications */

.vunder-pub {
    margin-bottom: 10px;
}

.vunder-pub-title,
.vunder-pub-author,
.vunder-pub-channel,
.vunder-pub-year {
    color: #FDF6FC;
}

.vunder-pub-author,
.vunder-pub-channel,
.vunder-pub-year,
.vunder-pub-link,
.vunder-pub-bibtex {
    font-family: Samsung400;
}

.vunder-pub-title {
    display: block;
    font-family: SamsungBold;
}

.vunder-pub-channel::before {
    content: "In ";
    font-style: normal;
    font-family: Samsung400;
}

.vunder-pub-channel {
    font-style: italic;
}

.vunder-pub-channel::after {
    content: ", ";
    font-style: normal;
}

.vunder-pub-link {
    margin-right: 1em;
    font-family: Samsung400;
}

.vunder-pub-bibtex {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    white-space: pre-wrap;
}


/* Styles from contact page */

.vunder-contact-link {
    font-family: Samsung400;
}

#vunder-saic-map {
    width: 83%;
    height: 500px;
    border: 0;
    display: inline; 
}

#vunder-saic-address {
    width: 15%;
    float: right;
    display:inline;
}


/* Style for projects page */

.vunder-project-info,
.vunder-project-name {
    display: block;
}

.vunder-project-name {
    font-family: Samsung700;
    font-size: 18px;
    color: #FDF6FC;
}

.vunder-project {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.vunder-project > a {
    display: inline-block;
}

.vunder-project > img,
.vunder-project > a > img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 140px;
    width: 140px;
}

.vunder-project-title {
    font-family: SamsungBold;
    font-size: 5em;
    color: #FDF6FC;
}


/* Styles for personal pages */

.vunder-person-cover-info {
    min-width: 100px;
    height: auto;
    min-height: 100px;
}

.vunder-person-cover-photo {
    width: 50%
}

.vunder-person-cover-name,
.vunder-person-cover-job-title,
.vunder-person-cover-email,
.vunder-person-text {
    color: #FDF6FC;
}

.vunder-person-cover-name {
    font-family: SamsungBold;
    font-size: 3em;
}

.vunder-person-cover-job-title {
    font-family: Samsung700;
    font-size: 1.5em;
    margin-top: -1.25em;
}

.vunder-person-cover-email {
    font-family: Samsung400;
    font-size: 1.25em;
    margin-top: -0.75em;
}

.vunder-person-text {
    margin-top: 30px;
    margin-bottom: 30px;
}

