/**
 * Styles for HTML components.
 */

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    clear: both;
    height: 100px;
    bottom: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: SamsungBold;
}

h1 {
    font-family: Samsung700;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h1:not(:first-of-type) {
    margin-top: 2em;
}

h2 {
    font-family: Samsung700;
    font-size: 1.25em;
}

h3, h4, h5, h6 {
    font-family: Samsung700;
    font-size: 1em;
}

p, a, address {
    font-family: Samsung400;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

/* Fonts */

@font-face {
    font-family: Samsung400;
    src: url("../fonts/SamsungOne-400_v1.1.ttf") format("truetype");
}

@font-face {
    font-family: Samsung700;
    src: url("../fonts/SamsungOne-700_v1.1.ttf") format("truetype");
}

@font-face {
    font-family: SamsungBold;
    src: url("../fonts/SamsungSharpSans-Bold.ttf") format("truetype");
}

.bold {
    font-weight: bold;
}

/* Colors */


.saic-background-color {
    background-color: #ffffff;
}

.saic-text-color {
    color: #000000;
}

.vunder-background-color {
    background-color: #18061F;
}

.vunder-text-color {
    color: #FDF6FC;
}

.vunder-text-color:hover {
    text-decoration: none;
}

.vunder-index-color {
    color: #8E1C9A;
}

.vunder-index-color-hover:hover {
    color: #8E1C9A;
}

.vunder-project-color {
    color: #E4158E;
}

.vunder-project-color-hover:hover {
    color: #E4158E;
}

.vunder-pub-color {
    color: #F7310A;
}

.vunder-pub-color:hover {
    color: #FDF6FC;
}

.vunder-pub-color-hover:hover {
    color: #F7310A;
}

.vunder-contact-color {
    color: #FFA600;
}

.vunder-contact-color-hover:hover {
    color: #FFA600;
}

.mml-background-color {
    background-color: #000000;
}

.mml-text-color {
    color: #FFFFFF;
}

.mml-text-color-hover:hover {
    color: #14CA00;
    text-decoration: none;
}

.mml-index-color {
    color: #14CA00;
}

.mml-index-color-hover:hover {
    color: #14CA00;
}

.mml-project-color {
    color: #14CA00;
}

.mml-project-color-hover:hover {
    color: #14CA00;
}

.mml-pub-color {
    color: #14CA00;
}

.mml-pub-color:hover {
    color: #FFFFFF;
}

.mml-pub-color-hover:hover {
    color: #14CA00;
}

.mml-contact-color {
    color: #14CA00;
}

.mml-contact-color-hover:hover {
    color: #14CA00;
}


/* Common */

.vunder-project-icon,
.mml-project-icon {
    display: block;
    margin: 0 auto;
}


.vunder-project-icon {
    -webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
    clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
}

.saic-topic,
.vunder-topic,
.mml-topic {
    font-size: 1em;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -4em;
    border-radius: 16px;
}

.vunder-topic {
    background-color: #FDF6FC;
    color: #18061F;
}

.mml-topic {
    background-color: #FFFFFF;
    color: #000000;
}


/* Logo */

.saic-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    margin-bottom: 20px;
    max-width: 400px;
    /* Workaround for an IE bug:
    * https://stackoverflow.com/questions/8673356/ie-doesnt-support-height-auto-for-images-what-should-i-use
    */
    min-height: 1px;
    width: 100%;
}

@media (min-width: 992px) {
    .saic-logo-image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.mml-logo,
.vunder-logo {
    float: center;
    margin: 20px;
    padding: 0;
}

.mml-logo {
    margin-bottom: 70px;
    margin-top: 0px;
}

.vunder-logo {
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .vunder-logo,
    .mml-logo {
        margin-left: auto;
        margin-right: auto;
    }
}


/* Navigation */

nav.saic-navbar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 30px;
}

.saic-navbar-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

nav.saic-navbar > .saic-navbar-top,
nav.saic-navbar > .navbar-collapse {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

nav.saic-navbar button.navbar-toggler {
    margin: 10px 0 10px 15px;
}

nav.saic-navbar ul.navbar-nav {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

nav.saic-navbar li {
    font-weight: bold;
    padding-left: 15px;
}

@media (min-width: 768px) {
    nav.saic-navbar {
        box-shadow: none;
    }
    nav.saic-navbar > .navbar-collapse {
    }
    nav.saic-navbar ul.navbar-nav {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: auto;
    }
    nav.saic-navbar li {
        padding-left: 30px;
        padding-right: 30px;
    }
    nav.vunder-navbar li.active {
        background-color: transparent;
        position: relative;
    }
    nav.saic-navbar li.active > a::after {
        border-radius: 2px;
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.saic-nav-link {
    font-family: Samsung700;
    font-size: 1.25em;
}


/* Main */

.saic-main {
    border-radius: 2em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .saic-main {
        max-width: 720px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 992px) {
    .saic-main {
        max-width: 960px;
    }
}


/* Footer */

.saic-footer {
    font-family: SamsungBold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.saic-footer-samsung,
.saic-footer-samsung-research,
.saic-footer-lab {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.saic-footer-samsung {
    height: 0.9em;
    padding-bottom: 0.1em;
}

.saic-footer-samsung-research,
.saic-footer-lab {
    font-size: 1em;
}

.saic-footer-samsung-research  {
    font-family: SamsungBold;
}

.saic-footer-lab {
    font-family: Samsung700;
}


/* Styles for home */

.saic-cover-container,
.saic-cover-image {
    width: 100%;
    height: 500px;
}

.saic-cover-container {
    position: relative;
    text-align: center;
}

.saic-cover-image {
    float: center;
}

.saic-cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.saic-title {
    font-family: SamsungBold;
    font-size: 5em;
    color: #ffffff;
}

.saic-h1 {
    display: block;
    font-size: 2.5em;
}

.saic-lab-title {
    margin-bottom: 30px;
    font-family: Samsung700;
    font-size: 1.5em;
}

.saic-lab {
    margin-top: 50px;
    margin-bottom: 100px;
    display: inline-block;
}

.saic-lab-logo {
    margin-bottom: 100px;
    margin: 10px;
    padding: 20px;
}

@media (min-width: 768px) {
    .saic-lab-logo {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}

.saic-vunder-link div,
.saic-mml-link div {
    margin-top: 100px;
    margin-bottom: 100px;
}

.saic-vunder-link,
.saic-mml-link {
    margin-top: 50px;
    font-family: Samsung700;
    font-size: 1.25em;
}

.saic-vunder-link {
    color: #18061F;
}

.saic-vunder-link:hover {
    color: #18061F;
}

.saic-mml-link {
    color: #000000;
}

.saic-mml-link:hover {
    color: #000000;
}

.saic-topic {
    background-color: #0051A0;
    color: #FFFFFF;
}

.saic-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid #0051A0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

#saic-office {
    float: center;
}

.saic-contact-link {
    font-family: Samsung400;
}

#saic-office-map {
    width: 83%;
    height: 500px;
    border: 0;
    display: inline; 
}

#saic-office-address {
    width: 15%;
    float: right;
    display:inline;
}


/*Styles for publications */

.saic-pub {
    margin-bottom: 10px;
}

.saic-pub-author,
.saic-pub-channel,
.saic-pub-year,
.saic-pub-link,
.saic-pub-bibtex {
    font-family: Samsung400;
}

.saic-pub-title {
    display: block;
    font-family: SamsungBold;
}

.saic-pub-channel::before {
    content: "In ";
    font-style: normal;
    font-family: Samsung400;
}

.saic-pub-channel {
    font-style: italic;
}

.saic-pub-channel::after {
    content: ", ";
    font-style: normal;
}

.saic-pub-link {
    margin-right: 1em;
    font-family: Samsung400;
}

.saic-pub-bibtex {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    white-space: pre-wrap;
}


/* Styles for contact page */




/* Style for projects page */

.saic-project-cover-container,
.saic-project-cover-image {
    width: 100%;
    height: 600px;
}

.saic-project-cover-container {
    position: relative;
    text-align: center;
}

.saic-project-cover-image {
    float: center;
}

.saic-vunder-project-cover-link,
.saic-mml-project-cover-link {
    position: absolute;
    top: 5%;
    left: 7%;
    transform: translate(-90%, -90%);
    font-family: Samsung400;
    font-size: 1.25em;
}

.saic-vunder-project-cover-link {
    color: #FDF6FC;
}

.saic-vunder-project-cover-link:hover {
    color: #FDF6FC;
}

.saic-mml-project-cover-link {
    color: #FFFFFF;
}

.saic-mml-project-cover-link:hover {
    color: #FFFFFF;
}

.saic-project-cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.saic-project-info,
.saic-project-name {
    display: block;
}

.saic-project-name {
    font-family: Samsung700;
    font-size: 18px;
}

.saic-project {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.saic-project > a {
    display: inline-block;
}

.saic-project > img,
.saic-project > a > img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 140px;
    width: 140px;
}

.saic-project-title {
    font-family: SamsungBold;
    font-size: 4em;
}

#vunder-spatial-ai {
    background: linear-gradient(45deg, #601DE4, #FF12AC);
}

#vunder-interactive-segmentation {
    background: linear-gradient(45deg, #CC2491, #FF0000);
}

#vunder-3d-object-detection {
    background: radial-gradient(#00DDFF, #3E0074);
}

#vunder-3d-assets {
    background: linear-gradient(0deg, #FFCC00, #601DE4);
}

#vunder-image-harmonization {
    background: linear-gradient(45deg, #FF12AC, #FFCC00);
}

#vunder-depth-estimation {
    background: linear-gradient(90deg, #FFCC00, #00DDFF);
}

#vunder-2d-object-detection {
    background: linear-gradient(135deg, #0073FF, #37FF00);
}

#vunder-visual-odometry {
    background: linear-gradient(90deg, #0073FF, #FF0000);
}

#mml-spatial-ai {
    background: transparent;
}

#mml-spatial-ai:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-interactive-segmentation {
    background: transparent;
}

#mml-interactive-segmentation:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-3d-object-detection {
    background: transparent;
}

#mml-3d-object-detection:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-3d-assets {
    background: transparent;
}

#mml-3d-assets:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-image-harmonization {
    background: transparent;
}

#mml-image-harmonization:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-depth-estimation {
    background: transparent;
}

#mml-depth-estimation:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-2d-object-detection {
    background: transparent;
}

#mml-2d-object-detection:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}

#mml-visual-odometry {
    background: transparent;
}

#mml-visual-odometry:hover {
    background: radial-gradient(#14CA00, #14CA00, transparent, transparent);
}
